<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Bass.Net" publicKeyToken="b7566c273e6ef480" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.10.3" newVersion="2.4.10.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="taglib-sharp" publicKeyToken="db62eba44689b5b0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.8" newVersion="2.0.3.8" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>